
body {
    background-color: black;
    padding-top: 50px;
    }

.entire-card{
    background-color: rgb(237, 237, 241);
    width:600px; 
    margin:auto;
    }

.card-header{
    display:flex; 
    flex-direction: row;
    justify-content: space-between; 
    padding: 10px;
    }

.ch-icon-left {flex: 10%; padding-left: 10px;}

.header-text {flex: 90%; padding-left: 10px; }

.ch-icon-right {flex: 1%; float: right;}

.card-center{
    max-width: 600px;
    padding: 0px;
    }

.card-center img {max-width: 600px;}

.card-footer {padding: 25px 10px;}

.card-footer-controls{
    display:flex; 
    justify-content: space-between;
    }
 
.card-footer-controls-right {padding-right:10px;}  

.card-footer-updates{
    display:flex;
    flex-direction: row;
    justify-content: flex-start; 
}
.card-footer-updates div {padding-left: 10px;}

.card-footer-comment {padding: 10px; padding-bottom: 25px;}


